.home-body {
    height: 600px;
}
.home-body-step-3 {
    height: 765px;
}
.home-body-mob {
  height: max-content;
}

.container .home-head {
    height: 80px;
    background: linear-gradient(#eee, rgb(19, 82, 141));
    background: -webkit-linear-gradient(rgb(28, 100, 168), rgb(44, 133, 218), rgb(110, 174, 211));
}
.container .home-head p {
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}
.container .home-foot {
    height: max-content;
    padding-bottom: 10px;
    background: -webkit-linear-gradient(rgb(231, 228, 228), rgba(141, 138, 138, 0.966));
}
.bg-body {
    margin-top: 50px;
}
.temp-1-body {
  margin-top: 40px;
  width: max-content;
  box-shadow: rgb(189, 187, 187) 2px 2px 2px 2px;
}
.temp-2-body {
  margin-top: 40px;
  width: max-content;
  background-color: rgb(94, 145, 212);
  box-shadow: rgb(189, 187, 187) 2px 2px 2px 2px;
}
.temp-3-body {
    margin-top: 40px;
    width: max-content;
    box-shadow: rgb(189, 187, 187) 2px 2px 2px 2px;
}

.convert-table-mob {
    height: max-content;
    margin-top: 20px;
    left: 90% !important;
    top: 10% !important;
}
.planned-table-tab, .convert-table-mob {
    --bs-gutter-x: 0;
}
.planned-table,.planned-table-mob,.planned-table-tab {
    height:inherit;
    padding-top: 80px;
}
.planned-table-mob {
  margin: 0 auto;
}

/* .planned-graph {
    height: 765px;
} */

.months-list {
    height: 52px;
    margin-left: 5px;
}
.months-list .month-row ul {
    display: flex;
    margin-bottom:0;
}
.month-row ul li {
    width: max-content;
}
.ht-40 {
  height: 40px;
}
.months-list-mob {
  height: 52px;
  margin-left: 5px;
  width: 25%;
  border-top-right-radius: 5px;
}
.months-list-mob .month-row-mob ul {
  display: flex;
  margin-bottom:0;
}
.month-row-mob ul li {
  width: max-content;
  height: 10%;
}
.month-item-tab {
    width: 50%;
    float: left;
}
.keys-list {
  height: 50px;
}
.keys-list-mob {
    padding-right: 0;
}
.keys-list-mob ul {
    width: 50%;
}
.keys-list-tab {
    padding-right: 0;
    width: 30%;
}
.keys-list-tab ul {
    width: 30%;
}
/* .keys-list-mob ul {
    width: 25%;
} */

.key-item-mob {
    overflow-x: scroll;
}
.key-item-mob,.month-item-mob,.value-item-mob, .used-value-item-mob {
    font-size: 12px;
}
.key-item-tab,.month-item-tab,.value-item-tab {
    font-size: 13px;
}
.keys-list-tab {
    padding-left: 0;
    overflow-x: scroll;
}
.percentage-list {
  height: 50px;
  padding: 0;
}
.percentage-list ul {
  padding: 0;
}
.values-list {
  height: max-content;
  padding: 6px 10px 6px 0;
  margin-left: 15px;
  border-left: 1px solid dodgerblue;
}
.values-list ul {
  padding: 0;
}

.values-list ul li {
    width: 110px;
}
.values-list-mob {
    padding-left: 0;
}
.values-list-tab {
    padding-left: 0;
    padding-right: 0;
    width: 70%;
}
.text-bg-contrast {
    color: white;
    background-color: rgb(63, 145, 228);
}
#bottom-border {
    height: 52px;
    margin-top: -22px;
    margin-right: -13px;
}
.remain-not-spend {
    margin-bottom: 10px;
    background-color: rgb(125, 155, 202);
    width: max-content;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: 1px blue solid;
}
.remain-not-spend-575 {
  margin-bottom: -60px;
  background-color: rgb(125, 155, 202);
  width: max-content;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: 1px blue solid;
}

.fusion-chart {
    width: 800px;
}


.used-panel {
    height: max-content;
    padding-bottom: 100px;
    width: 95%;
    margin: 0 auto;
}

.data-fieldset {
    border: 1px solid dodgerblue;
    border-radius: 5px;
}
.data-fieldset select, .data-fieldset div {
    margin: 3px auto;
}
.data-fieldset .submit-data, .data-fieldset .visualize-data {
    padding: 5px 10px;
    margin-left: 10px;
}

.data-fieldset .submit-data:active {
    background-color: rgb(57, 104, 57);
}
.data-legend {
    font-weight: 600;
}
.used-value-item-mob span {
    padding-bottom: 3px;
    width: 50%;
    /* margin-bottom: 10px; */
}

@media screen and (max-width: 340px) {
    .visualize-data {
        width:80%;
        margin-left: 0;
    }
}

/** Converter CSS  */
.convert-transition {
    margin-left: 4px;
    background-color: rgb(15, 122, 228);
    padding: 0 3px;
    /* border-right: white 1px solid;
    border-bottom: white 1px solid; */
    border-radius: 6px;
    font-size: 18px;
    color: white;
    animation: MoveUpDown 1s linear infinite;
    /* position: absolute; */
}
@keyframes MoveUpDown {
  0% {
      transform: translate(0,0);
  }
  25% {
      transform: translateY(2px);
  }
  100% {
      transform: translate(2px, 0);
  }
}

/** Show Save button a little bigger on Desktop  */
@media screen and (min-width: 757px) {
    .data-fieldset .submit-data {
        padding: 11px 20px;
        font-weight: 600;
    }
}
