<!--The content below is only a placeholder and can be replaced.-->
<div class="container bg-light bg-gradient rounded-2 ">
    <div class="position-static w-100 pt-3 fs-3 home-head text-center rounded-bottom">
        <p class="text-light"> Amount Usage Planner </p>
    </div>


    <!-- Template 1 -->
    <div class="home-body position-relative" *ngIf="step == 1">
        <span class="position-absolute top-0 start-50 translate-middle fs-4 rounded p-2 temp-1-body "> Your <strong> {{(PLAN_WHAT == '')? '__' : PLAN_WHAT}} </strong> Usage Planner </span>
        <div class="position-absolute bottom-50 start-50 translate-middle form-floating top-4 mb-3 w-50">
            <input class="form-control" type="text" id="planWhat" name="planWhat" [(ngModel)]="PLAN_WHAT" />
            <label for="floatingInput">Plan What!</label>
            <button type="button" class="btn btn-secondary mt-1 start-50 border"
              [ngStyle] ="{ 'font-size': (innerWidth < 775)? 12+'px' : 18+'px' , 'padding' : 5+'px' }" (click)="addUsedAmount()" >Save Used Amount
            </button>
            <button type="button" class="btn btn-success mt-1 start-100 border" disabled="true" title="Feature will be available soon"
              [ngStyle] ="{ 'font-size': (innerWidth < 775)? 12+'px' : 18+'px' , 'font-weight': (innerWidth < 575)? 400 : 600 , 'padding' : 5+'px', 'float': 'right' }" (click)="createNewPlan()" >Create a new Plan
            </button>
        </div>
        <button type="button" class="btn btn-light position-absolute bottom-0 start-50 translate-middle border lets-start-btn" (click)="showNextAmountInput()" >Let's Start</button>
        <button type="button" class="btn btn-dark position-absolute bottom-0 mb-3 ms-2 border save-change-db-btn" (click)="saveToDatabase('planned')" >Save changes to Database</button>
        <!-- <span class="alert alert-primary position-absolute bottom-0 start-50 translate-middle mt-1 pt-0 pb-0 mb-1">When you start type the name, After 10 seconds screen will be hidden </span> -->
    </div>

    <!-- Template 2 -->
    <div class="home-body position-relative" *ngIf="step == 2; Else elseTemplate">
        <span class="position-absolute top-0 start-50 translate-middle fs-4 rounded p-2 text-light temp-2-body"> My <strong> {{PLAN_WHAT}} </strong> Usage Planner </span>
        <div class="position-absolute bottom-50 start-50 translate-middle form-floating top-4 mb-3 w-50">
            <input class="form-control" type="text" id="Amount" name="Amount" [(ngModel)]="Amount" />
            <label for="floatingInput">Amount</label>
        </div>
        <button type="button" class="btn btn-light position-absolute bottom-0 start-50 translate-middle border" (click)="saveAmount(Amount)" >View what we have Planned</button>
        <!-- <span class="alert alert-primary position-absolute bottom-0 start-50 translate-middle mt-1 pt-0 pb-0 mb-1">When you start type the name, After 10 seconds screen will be hidden </span> -->
    </div>


    <!-- Template 3 -->
    <div class="position-relative" [ngClass]="(innerWidth > 575)? 'home-body-step-3': 'home-body-mob'" *ngIf="step == 3 || visualizeTable == true, Else elseTemplate">
        <span *ngIf="innerWidth < 575" class="position-absolute top-0 start-50 translate-middle fs-4 rounded p-1 temp-3-body"> My <strong> {{PLAN_WHAT}} </strong> {{ (visualizeTable == true)? (_MONTH || (this._DATE).toLocaleString('default', {month: 'long'}) ) + ' spents' : 'Usage Planner'}} </span>
        <span *ngIf="innerWidth > 990" class="position-absolute top-0 start-50 translate-middle fs-4 rounded p-1 temp-3-body"> My <strong> {{PLAN_WHAT}} </strong> {{ (visualizeTable == true)? 'Monthly' + ' spents' : 'Usage Planner'}} </span>
        <span style="cursor:pointer;" class="mt-1 ms-1"><img class="back-arrow" src="/assets/images/back-arrow-solid-32.png" (click)="startAllOver()" /></span>

        <!--  Tables  -->
        <!-- For Tablets and Desktop-->
        <!-- <div *ngIf="innerWidth > 990" class="w-100 row align-items-start justify-content-center planned-table"> -->
          <div *ngIf="innerWidth > 575" class="w-100 row align-items-start justify-content-center planned-table">
            <div [ngClass]="(innerWidth < 990)? 'col-4': 'col-3'" class="text-bg-light d-flex keys-list" >
                <ul>
                    <li class="p-2 fs-4 text-bg-contrast text-center"><strong>#</strong></li>
                    <li *ngFor="let key of dataKeys" class="border border-end-0 border-top-0 border-primary text-capitalize mt-2 p-1" [ngClass]="(innerWidth < 1199 && innerWidth > 991)? 'fs-6' : ( (innerWidth < 991)? 'fs-7' : 'fs-5')">
                        <strong>{{key}}</strong>
                    </li>
                    <li class="p-2 fs-4 text-bg-contrast text-center"><strong>#</strong></li>
                </ul>
            </div>
            <div [ngClass]="(innerWidth < 990)? 'col-6': 'col-7'" class="text-bg-contrast months-list">
                <div class="row month-row">
                    <ul>
                        <li *ngFor="let month of monthsFromCurrent" class="text-center me-3 mt-2 p-1" [ngClass]="(innerWidth < 991)? 'fs-6' :'fs-5'">
                            <strong>{{month}}</strong>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="values-list">
                        <ul class="values-list-ul-1">
                            <li *ngFor="let value of dataValues[0]" class="text-center me-3 mt-2 p-1 text-dark" [ngClass]="(innerWidth < 1199 && innerWidth > 991)? 'fs-6' : ( (innerWidth < 991)? 'fs-7' : 'fs-5')">
                                {{value.used}} Rs
                            </li>
                        </ul>
                        <ul class="values-list-ul-2">
                            <li *ngFor="let value of dataValues[1]" class=" text-center me-3 mt-2 p-1 text-dark" [ngClass]="(innerWidth < 1199 && innerWidth > 991)? 'fs-6' : ( (innerWidth < 991)? 'fs-7' : 'fs-5')">
                                {{value.used}} Rs
                            </li>
                        </ul>
                    </div>
                </div>
                <li id="bottom-border" class="p-2 fs-4 text-bg-contrast text-center"></li>
            </div>
            <div class="col-1 text-bg-light percentage-list">
                <ul>
                    <li class="p-2 fs-4 text-bg-contrast text-center"> <strong>%</strong> </li>
                    <li *ngFor="let percentage of percentagesSeparatly" class="border border-top-0 border-primary text-center mt-2 p-1" [ngClass]="(innerWidth < 1199 && innerWidth > 991)? 'fs-6' : ( (innerWidth < 991)? 'fs-7' : 'fs-5')">{{percentage}}</li>
                    <li class="p-2 fs-4 text-bg-contrast text-center"><strong>%</strong></li>
                </ul>
            </div>

            <span class="remain-not-spend bottom-0 start-50 position-absolute translate-middle" >Remaining Amount: <strong> {{remainAmount}} Rs </strong>with <strong>{{remainPercentage}} % </strong></span>
        </div>

        <!-- IN PROGRESS ---   -->
        <!-- For Tablets -->
        <!-- <div *ngIf="innerWidth > 575 && innerWidth < 991" class="w-100 row planned-table-tab"> -->

           <!-- Width = 30% -->
          <!-- <ul class="text-bg-light keys-list-tab">
              <li class="p-2 fs-6 text-bg-contrast text-center"><strong>#</strong></li>
              <li *ngFor="let key of dataKeys" class="border border-top-0 border-primary text-capitalize mt-2 p-1 key-item-tab">
                  <strong>{{key}}</strong>
              </li>
              <li class="p-2 fs-6 text-bg-contrast text-center"><strong>#</strong></li>
          </ul> -->

          <!-- width = 70% -->
          <!-- <ul class="values-list-tab">
              <li class="p-2 fs-6 text-bg-contrast month-item-tab text-center">
                  <strong>{{monthsFromCurrent[0]}}</strong>
              </li>
              <li class="p-2 fs-6 text-bg-contrast month-item-tab text-center">
                  <strong>{{monthsFromCurrent[1]}}</strong>
              </li>
              <li *ngFor="let value of dataValues" class="border border-top-0 border-primary text-center mt-2 p-1 value-item-tab">
                  {{value.used}} Rs
              </li>
              <li class="p-2 text-bg-contrast ht-40"></li>
          </ul> -->

          <!-- Hidden Percentage List - not necessory Data -->
          <!-- <span class="remain-not-spend position-absolute translate-middle bottom-0 start-50">Remaining Amount: <strong> {{remainAmount}} Rs </strong>with <strong>{{remainPercentage}} % </strong></span> -->

      <!-- </div> -->

      <!--  Used Amount changer   => 1)- in Percentage  2)- in Rupees  -->
      <!--  For MOBILE  -->
      <div *ngIf="innerWidth < 576 && visualizeTable == true" class="position-absolute convert-table-mob">
        <strong *ngIf="percent_display_selected == true" class="convert-transition" (click)="displayTableData_Percentages()"> % </strong>
        <strong *ngIf="amount_display_selected == true" class="convert-transition" (click)="displayTableData_Amounts()"> Rs </strong>
      </div>

        <!-- For Mobile -->
        <div *ngIf="innerWidth < 576" class="w-100 row planned-table-tab">
             <ul class="text-bg-light keys-list-mob w-50">
                <li class="p-2 fs-6 text-bg-contrast text-center">
                    <strong>#</strong>
                </li>
                <li *ngFor="let key of dataKeys" class="border border-top-0 border-primary text-capitalize mt-2 p-1 key-item-mob">
                    <strong>{{key}}</strong>
                </li>
                <li class="p-2 fs-6 text-bg-contrast text-center"><strong>#</strong></li>
            </ul>

            <ul class="values-list-mob w-50">
                <li class="p-2 fs-6 text-bg-contrast month-item-mob text-center">
                    <strong>
                      <!-- See Planned Table-->
                      <span *ngIf="visualizeTable == false"> {{monthsFromCurrent[0]}} </span>
                      <!-- See Used Table-->
                      <span *ngIf="visualizeTable == true"> Spent </span>
                      <span *ngIf="visualizeTable == true" style="float: right;"> Remain </span>
                    </strong>
                </li>
                <span *ngIf="visualizeTable == true">
                    <li *ngFor="let value of dataValues" class="text-center used-value-item-mob">
                      <span class="border border-top-0 border-primary mt-2 p-1" style="float:left">{{ (value.used | number) }}{{(percent_display_selected == true)? ' Rs': '%'}}</span> <!-- Used Number PIPE => to reduce the DECIMELS -->
                      <span class="border border-top-0 border-primary mt-2 p-1" style="float:left">{{ (value.remain | number) }}{{(percent_display_selected == true)? ' Rs': '%'}}</span>
                    </li>
                    <li class="p-2 text-bg-contrast ht-40 position-absolute start-50 bottom-0 mb-3 w-50"></li>
                </span>
                <span *ngIf="visualizeTable == false">
                    <li *ngFor="let value of dataValues" class="border border-top-0 border-primary text-center mt-2 p-1 value-item-mob">
                        {{value}} Rs
                    </li>
                    <li class="p-2 text-bg-contrast ht-40"></li>
                </span>
            </ul>

            <!-- Hidden Percentage List - not necessory Data -->
            <span *ngIf="visualizeTable == false" class="remain-not-spend-575 position-absolute translate-middle bottom-0 start-50">Remaining Amount: <strong> {{remainAmount}} Rs </strong>with <strong>{{remainPercentage}} % </strong></span>

        </div>

    </div>

    <!--  Waiting Else Template -->
    <ng-template #elseTemplate class="home-body position-relative">
    </ng-template>

    <!-- Store Used Amount -->
    <div *ngIf="step == 3; else elseTemplate" class="text-center used-panel" [ngClass]="(innerWidth < 576)? 'mt-5': ''"><!-- Width 95% -->
      <fieldset class="data-fieldset">
          <legend class="data-legend text-bg-contrast rounded-2 p-1"> Save <strong>{{(_MONTH)? _MONTH: _DATE.toLocaleString('default', { month: 'long'} ) }}</strong> Spent Amount </legend>
          <div [ngClass]="{ 'd-none' : (Table_shown == true)}">
              <strong> Select Month </strong> <span style="color: rgb(150, 148, 148); font-size: 12px;"> ( If you want to add previous month usage ) </span>
              <select [(ngModel)]="_MONTH" name="months_dropdown" class="dropdown form-select w-50">
                  <option class="dropdown-item" disabled> Months </option>
                  <option class="dropdown-item" *ngFor="let value of [].constructor(2); let i=index" value="{{getAndShowMonthName(i,'name').split(' ')[0]}}">{{getAndShowMonthName(i,'name')}}</option> <!-- Bring 6 Months Previous than Current Month -->
              </select>
          </div>
          <strong> Select Item </strong>
          <select [(ngModel)]="KEY_SELECTED" class="form-select w-50 text-center">
              <option selected value="">Select the item</option>
              <option *ngFor="let key of dataKeys; let i=index" value="{{i+1}}">{{key}}</option>
          </select>
          <div class="form-floating top-4 mb-3 w-50">
              <input class="form-control" type="number" name="spent-amount" id="spent-amount" [(ngModel)]="SPENT_AMOUNT" />
              <label for="floatingInput">Spent Amount</label>
          </div>
          <button class="submit-data btn btn-dark border" (click)="saveSpentAmount()" > Save </button>
          <!-- <input class="submit-data btn btn-secondary border" type="submit" name="View" (click)="getPlanned()" /> -->
      </fieldset>
    </div>

      <!--  STEP = 4   =>   Panel to save Amount per Item  -->
    <div *ngIf="step == 4" class="text-center used-panel mt-3"><!-- Width 95% -->
        <span> Your <strong> {{(Amount == '')? '__' : Amount}} </strong> Amount</span>
        <fieldset class="data-fieldset">
            <legend class="data-legend text-bg-contrast rounded-2 p-1"> Save <strong><u>{{(_MONTH)? _MONTH: _DATE.toLocaleString('default', { month: 'long'} ) }}</u></strong> Spent Amount </legend>
            <div [ngClass]="{ 'd-none' : (Table_shown == true)}">
                <strong> Select Month </strong> <span style="color: rgb(150, 148, 148); font-size: 12px;"> ( If you want to add previous month usage ) </span>
                <select [(ngModel)]="_MONTH" name="months_dropdown" class="dropdown form-select w-50" (change)="addUsedAmount()"> <!-- get Amount on Each SELECT -->
                    <option class="dropdown-item" disabled> Months </option>
                    <option class="dropdown-item" *ngFor="let value of [].constructor(2); let i=index" value="{{getAndShowMonthName(i,'name').split(' ')[0]}}">{{getAndShowMonthName(i,'name')}}</option> <!-- Bring 6 Months Previous than Current Month -->
                </select>
            </div>
            <strong> Select Item </strong>
            <select [(ngModel)]="KEY_SELECTED" class="form-select dropdown w-50 text-center">
                <option class="dropdown-item" disabled> Select the item </option>
                <option class="dropdown-item" *ngFor="let key of dataKeys; let i=index" value="{{i+1}}">{{key}}</option>
            </select>
            <div class="form-floating top-4 mb-3 w-50">
                <input class="form-control" type="number" name="spent-amount" id="spent-amount" [(ngModel)]="SPENT_AMOUNT" />
                <label for="floatingInput">Spent Amount</label>
            </div>
            <button class="submit-data btn btn-dark border" (click)="saveSpentAmount()" > Save </button>
            <button *ngIf="visualizeChart == false" class="visualize-data btn btn-success border" (click)="displayChart()" > Visualize <img [src]="(innerWidth < 757)? '/assets/images/combo-chart-16.png' : '/assets/images/combo-chart-32.png' " class="mb-1" /> </button>
            <button *ngIf="visualizeTable == false" class="visualize-data btn btn-success border" (click)="displayTable()" > Visualize <img [src]="(innerWidth < 757)? '/assets/images/table-filled-16.png' : '/assets/images/table-filled-32.png'" class="mb-1" /> </button>
            <button *ngIf="visualizeChart == true" class="visualize-data btn btn-info border" (click)="hideChart()" > Hide <img [src]="(innerWidth < 757)? '/assets/images/combo-chart-16.png' : '/assets/images/combo-chart-32.png'" class="mb-1" /> </button>
            <button *ngIf="visualizeTable == true" class="visualize-data btn btn-info border" (click)="hideTable()" > Hide <img [src]="(innerWidth < 757)? '/assets/images/table-filled-16.png' : '/assets/images/table-filled-32.png'" class="mb-1" /> </button>
        </fieldset>
        <button class="submit-data btn btn-light mt-4 border" (click)="moveToPlannedChart()" > View Planned Amount </button>

    </div>

      <!-- CHART -->
      <!--          For All Screens         -->
      <div *ngIf="step == 3 || visualizeChart == true; else elseTemplate">
          <div *ngIf="innerWidth > 757" class="text-center mb-3 planned-graph">
              <fusioncharts
                  width="1300"
                  height="700"
                  type="mscombi2d"
                  dataFormat="json"
                  [dataSource]=dataSource>
              </fusioncharts>
          </div>

          <div *ngIf="innerWidth > 575 && innerWidth < 757" class="text-center mb-3 planned-graph">
              <fusioncharts
                  width="550"
                  height="500"
                  type="mscombi2d"
                  dataFormat="json"
                  [dataSource]=dataSource>
              </fusioncharts>
          </div>

          <div *ngIf="innerWidth > 450 && innerWidth < 576" class="text-center mb-3 planned-graph">
              <fusioncharts
                  width="430"
                  height="400"
                  type="mscombi2d"
                  dataFormat="json"
                  [dataSource]=dataSource>
              </fusioncharts>
          </div>

          <div *ngIf="innerWidth < 451" class="text-center mb-3 planned-graph">
            <fusioncharts
                width="330"
                height="400"
                type="mscombi2d"
                dataFormat="json"
                [dataSource]=dataSource>
            </fusioncharts>
        </div>
      </div>

      <!-- Footer -->
    <div class="w-100 bg-secondary pt-2 home-foot rounded-top text-center">
        <p class="text-light fw-bolder"> Personal-E-Collection </p>
        <hr width="80%" class="ms-auto me-auto" />
        <p class="text-light"> © 2022, <a href="#"> Amount Usage Planner </a> All rights reserved. </p>
    </div>
</div>
