/* You can add global styles to this file, and also import other style files */

body{
  margin: 0;
  padding: 0;
}
.container {
  --bs-gutter-x: 0;
}

li {
  list-style-type: none;
}
a {
    color: black;
    text-decoration: none;
}
